@media (max-width:1580px){
    .divshearch{
       max-width: 242px;
       width: 100%;
       margin-left: 317px;
    }
    .divshearch>input{
        width: 242px;
    }
    .divshearch-img2{
        margin-left: 200px;}
    .divshearchinput::placeholder{
            padding-left: 34px;
           
            font-size: 10px;
        }
        .foter-buttons-wrapper2{
            margin-left: 1px;}


}

@media (max-width:1280px){
    .divshearch{
        max-width: 242px;
        width: 100%;
        margin-left: 117px;
     }
     .divshearch>input{
         max-width: 222px;
         width: 100%;
     }
     .divshearch-img2{
         margin-left: 180px;}
     .divshearchinput::placeholder{
             padding-left: 34px;
            
             font-size: 10px;
         }


}
